
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<h4>Victor Noguedad</h4>
<b>Code in <a href="https://www.github.com/noguedad">GitHib repository</a></b>
<div>
    <a href="javascript:history.back()">Go Back</a>
</div>

