
@{
    ViewBag.Title = "Index";
}

<h2>Oops</h2>
<div>
    <p>An unespected error ocurred, you can try going back and trying again, or make a report to the system administrator.</p>
</div>
<div>
    <a href="javascript:history.back()">Go Back</a>
</div>

