
@{
    ViewBag.Title = "NotFound";
}

<h2>Oops: Not Found</h2>
<div>
    <p>The request made came back empty, or had a syntax error. Please verify and try again.</p>
</div>
<div>
    <a href="javascript:history.back()">Go Back</a>
</div>

