
@{
    ViewBag.Title = "RFCError";
}

<h2>Oops: RFC Error</h2>
<div>
    <p>The RFC you tried to save is already in the database with another employee. Change the RFC or delete de employee.</p>
</div>
<div>
    <a href="javascript:history.back()">Go Back</a>
</div>

